/* #region body*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion body*/

/* #region add reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  color: inherit;
}

address {
  font-style: normal;
}
/* #endregion add reset*/

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo-studio {
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo:hover,
.header-logo:focus,
.header-logo:hover .header-logo-studio,
.header-logo:focus .header-logo-studio {
  color: #404bbf;
}

.link-send {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.elect {
  color: #404bbf;
}

.link-send.elect::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.link-send:hover,
.link-send:focus {
  color: #404bbf;
}

.link-address {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:hover,
.link-address:focus {
  color: #404bbf;
}

.address-contact {
  display: flex;
  gap: 40px;
}

/* #endregion header*/

/* #region head */

.section-head {
  background-color: #2e2f42;
  color: #2e2f42;
  height: 600px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.section-head-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0 0 48px;
  max-width: 496px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404bbf;
}
/* #endregion head */

/* #region Quality */

.quality {
  padding-bottom: 120px;
  padding-top: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.quality-list {
  width: 1128px;
  display: flex;
  gap: 24px;
}

.quality-item {
  width: calc((100% - 3 * 24px) / 4);
}

.quality-item-icon {
  height: 112px;
  max-width: 100%;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.quality-subtitle-text {
  color: #434455;
}

/* #endregion Quality */

/* #region team */

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
  width: 1158px;
  margin: 0 auto;
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-wrapper {
  padding: 32px 0 32px;
  text-align: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 8px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-link {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-link:hover,
.team-item-link:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region portfolio */

.portfolio {
  padding: 120px 0 120px 0;
  width: 1158px;
  margin: 0 auto;
}

.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  display: flex;
  flex-direction: column;
  max-width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  color: #434455;
}

/* #endregion */

/* #region footer */

.footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 100px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-left {
  width: 262px;
  height: 112px;
  margin-right: 120px;
}

.footer-span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-span:hover,
.footer-span:focus,
.footer-span:hover .footer-studio,
.footer-span:focus .footer-studio {
  color: #404bbf;
}
.footer-studio {
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  gap: 16px;
}

.footer-item-link {
  fill: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-link:hover,
.footer-item-link:focus {
  background-color: #31d0aa;
}

.footer-right-box {
  margin-left: 80px;
}

.footer-right-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-right-form {
  display: flex;
  gap: 24px;
}

.footer-right-label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  
}

.footer-right-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;

  background-color: transparent;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-right-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-right-icon {
  margin-left: 16px;
}

/* #endregion footer */

/* #region modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  padding: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
}

.modal-close-button:hover, .modal-close-button:focus {
  color: #fff;
  background-color: #404bbf;
  border: none;
  fill: #fff;
}

.modal-button-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-area {
  margin-bottom: 8px;
}

.modal-form-lable {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-top: 8px;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-form-box {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  margin-bottom: 16px;
}

.modal-texteria {
  width: 100%;
  height: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  margin-top: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texteria:focus {
  border-color: #4d5ae5;
}

.modal-texteria::placeholder {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-privacy {
  display: block;
  margin-bottom: 24px;
}

.privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  color: #4d5ae5;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .privacy .privacy-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf:
}

input[type="checkbox"]:focus-visible + .privacy .privacy-checkbox {
  box-shadow: 0 0 0 4px rgba(64, 75, 191, 0.25);
}

.privacy-checkbox-icon {
  opacity: 0;
  fill: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked
  + .privacy > .privacy-checkbox
  > .privacy-checkbox-icon {
  opacity: 1;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

/* #endregion modal window */
